.showMeTheRiddle {

    transition: 0.5s;
    opacity: 0.0;
    font-size: 1rem;

}

.showMeTheRiddle:hover {
    transition: 0.5s;
    opacity: 1.0 !important;
}

.meTalking {
    display: flex;
}

.brandIcon {
    margin: 0 20px;
    color: white;
    &:hover {
        color: orange;
    }
}