@mixin tag($bg-color, $color, $font-weight, $font-style) {
    background-color: $bg-color;
    color: $color;
    font-weight: $font-weight;
    font-style: $font-style;
}

$Javascript: rgb(255, 230, 8), black, bolder, normal;
$React: rgb(82, 186, 255), white, bolder, normal;
$Python: #3776ab, #ffd343, bolder, normal;
$ATBS: rgb(248, 255, 144), black, bolder, normal;
$ComputerScience: rgb(12, 85, 16), rgb(255, 255, 255), bolder, normal;
$Linux: rgb(0, 0, 0), rgb(255, 255, 255), bolder, normal;
$Bash: rgb(88, 88, 88), rgb(255, 255, 255), bolder, normal;

[class*="Javascript"]{@include tag($Javascript...);}
[class*="React"]     {@include tag($React...); border-color: rgb(91, 92, 92) !important;}
[class*="Python"]    {@include tag($Python...); border-color: white !important}
[class*="ATBS"]    {@include tag($ATBS...); border-color: rgb(54, 105, 54) !important;}
[class*="Computer Science"]    {@include tag($ComputerScience...); border-color: rgb(0, 0, 0) !important;}
[class*="Linux"]    {@include tag($Linux...); border-color: rgb(255, 214, 30) !important;}
[class*="Bash"]    {@include tag($Bash...); border-color: rgb(255, 255, 255) !important;}

[class*="tagPill-"] {
    border-radius: 4px;
    border: 3px solid black;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 90%;
    float: right;    
}

.posts {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    // padding: 1rem;
}



.post {
    // margin: 1rem 0;

    a {
        // background: white;
        color: white;
        display: block;
        // padding: 1%;
        text-decoration: none;
    }

    a:hover {
        h2 { 
            color: orange;
            text-shadow: 0 10px 1px white, 0 -10px 1px rgb(255, 115, 0); 
        }
    }

    h2 {
        margin-bottom: 0;
        color: white
    }

    p {
        color: orange;
        font-size: .8rem;
        font-style: italic;
    }
}