@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@mixin tag($bg-color, $color, $font-weight, $font-style) {
    background-color: $bg-color;
    color: $color;
    font-weight: $font-weight;
    font-style: $font-style;
}

.title {
    font-family: "Monoton";
}

.posts {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    // padding: 1rem;
}

[class*=fa-bug]:hover {
    color: orange;
}

.post {
    // margin: 1rem 0;

    a h2 {
        // background: white;
        color: white;
        display: block;
        // padding: 1%;
        text-decoration: none;
    }

    a:hover {
        h2 { 
            color: orange;
            text-shadow: 0 10px 1px white, 0 -10px 1px rgb(255, 115, 0); 
        }
    }

    h2 {
        margin-bottom: 0;
        color: white
    }

    p {
        color: orange;
        font-size: 1rem;
        font-style: italic;
    }
}


$Javascript: rgb(255, 230, 8), black, bolder, normal;
$React: rgb(82, 186, 255), white, bolder, normal;
$Python: #3776ab, #ffd343, bolder, normal;
$Design: rgb(255, 144, 255), white, bolder, normal;
$CS: rgb(2, 241, 14), rgb(0, 0, 0) , bolder, normal;
$Linux: rgb(0, 0, 0), rgb(255, 255, 255), bolder, normal;
$Bash: rgb(189, 189, 189), rgb(255, 255, 255), bolder, normal;
$Physics: rgb(255,255,255), rgb(0,0,0), bolder, normal;
$Life: rgb(255, 150, 30), rgb(0,0,0), bolder, normal;

[class*="Javascript"]{@include tag($Javascript...);}
[class*="React"]     {@include tag($React...);}
[class*="Python"]    {@include tag($Python...);}
[class*="Design"]    {@include tag($Design...);}
[class*="CS"]    {@include tag($CS...);}
[class*="Linux"]    {@include tag($Linux...);}
[class*="Bash"]    {@include tag($Bash...);}
[class*="Physics"]    {@include tag($Physics...);}
[class*="Life"]    {@include tag($Life...);}

[class*="tagPill-"] {
    border-radius: 20px;
    // border: 2px solid black;
    padding: 5px 10px;
    margin-right: 5px;
    font-family: "Monoton";
    font-size: 70%;
    float: right;   
    a {color:inherit;} 
}