@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.photogrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
}

.image {
    display: inherit;
    transition: 1s;
}

.image:hover {
    transform: scale(1.1, 1.1);
    z-index: 1;
    box-shadow: 0 50px 50px;
    transition: 1s;
    overflow: hidden;
    border-radius: 10px;

}

@media(max-width: 770px) {
    .image:hover {
        transform: scale(1.2);
    }
}
Img {
    border-radius: 10px;
}

.bookTotal {
    padding: 0 10%;
    text-align: center;
    font-size: 4vw;
}