  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .listColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    overflow: auto;
    height: 43rem;
    direction: rtl;
  }

  @media (max-width: 800px) {
    .listColumn {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      overflow: auto;
      height: 35rem;
      direction: rtl;
    }
    .bookTitle {
      font-size: 1rem;
    }
}

  .imageColumn {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

  .bookTitle:hover {
    color: orange;
  }