@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


// .photoBody {
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     max-width: 100%;
//     padding: 0;
// }

.content {
    width: 100%;
    // margin: 0em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.photogrid {
    // line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 5px;
}

.photogrid img {
    width: 100% !important;
    height: 100% !important;
   
}

.box
{
    position: relative;
    // width: 100%; 
    // height: 500px; 
    overflow: hidden;
    border-radius: 10px;
    background: #000;
    transition: .5s;
    
}
.box:hover
{
    transform: scale(1.1,1.1);
    // padding: 5%;
    z-index: 1;
    box-shadow: 0 50px 50px ;
    transition: 0.2s;
    overflow: visible;
}

.box .imgBox
{
    position: relative;
    
}
.box .imgBox img
{
    transition: .5s;
}
// .box:hover .imgBox img
// {
//     opacity: 0.5;
//     //  transform: translateY(-10px);
    
// }

.box .content
{
    position: absolute;
    bottom: 0;
    left: 0;
    // padding-top: 25%;
    // padding-bottom: 25%;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
    
}
.box:hover .content
{
    bottom: 30%; 
    opacity: 1;
    
}
.box .content h3
{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway';
}
.box .content p
{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}

.box .content a
{
    font-family: 'Raleway';
    font-size: 10px;
    font-weight: 100;
}

.box .content .btnD
{
    border: none;
    background: #fff;
    color: #000;
    font-size: 10px;
    padding: 8px 10px;
    font-weight: 700;
    transition: .5s;
    border-radius: 30px;
}
.box .content .btnD:hover
{
    // #bd0303
    background: orange;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 700;
    transition: .5s;
}

.bookTotalContainer {
    padding: 0 10%;
    text-align: center;
}

@media (max-width: 1200px) {
    .photogrid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
    .box:hover
{
    transform: scale(0.9,0.9);
    // padding: 5%;
    z-index: 100;
    // box-shadow: 0 50px 50px rgba(0, 0, 0.5);
}
}
@media (max-width: 1000px) {
    .photogrid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 800px) {
    .photogrid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 400px) {
    .photogrid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}