@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.content {
    width: 100%;
    // margin: 0em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.photogrid {
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 5px;
}

.photogrid img {
    width: 100% !important;
    height: 100% !important;
}

// picture img {
//     position: relative !important;
// }

@media (max-width: 1200px) {
    .photogrid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    .photogrid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


.box
{
    position: relative;
    // width: 100%; 
    // height: 500px; 
    overflow: hidden;
    border-radius: 10px;
    background: #000;
    transition: .5s;
    
}
.box:hover
{
    // transform: translateY(30px);
    padding: 1%;
    z-index: 1;
    // box-shadow: 0 50px 50px rgba(0, 0, 0.5);
}

.box .imgBox
{
    position: relative;
    
}
.box .imgBox img
{
    transition: .5s;
}
.box:hover .imgBox img
{
    opacity: 0.5;
    //  transform: translateY(-10px); 
}



.box .content
{
    position: absolute;
    bottom: 0;
    left: 0;
    // padding-top: 25%;
    // padding-bottom: 25%;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
    
}
.box:hover .content
{
    bottom: 30%; 
    opacity: 1;
    
}
.box .content h3
{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway';
}
.box .content p
{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}

.box .content a
{
    font-family: 'Raleway';
    font-size: 10px;
    font-weight: 100;
}

.box .content .btnD
{
    border: none;
    background: #fff;
    color: #000;
    font-size: 10px;
    padding: 8px 10px;
    font-weight: 700;
    transition: .5s;
    border-radius: 30px;
}
.box .content .btnD:hover
{
    // #bd0303
    background: orange;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 700;
    transition: .5s;
}