@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');


body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #262626;
    }
*::selection {
    background-color: rgb(183, 0, 255);
}
    
p, h3 {  margin-bottom: 1rem; }


h1 { font: 700 3.0rem/1.2 "Raleway"; color: orange;
/*     
    transparent; background-image: linear-gradient(to right,  rgb(204, 0, 255), rgb(0, 225, 255), rgb(238, 255, 0), rgb(255, 0, 0), rgb(113, 255, 113));
    -webkit-background-clip: text;
    animation: animate 20s ease-in-out infinite;
    background-size: 10%; */

}
h2 { font: 400 2.0rem/1.2 "Raleway"; color: rgb(255, 255, 255); }
time { font: 700 2.0rem/1.2 "Raleway"; color: hsl(39, 100%, 67%); }
h3 { font: 700 2.0rem/1.2 "Raleway"; color: rgb(255, 227, 151); }
p { font: 400 1.5rem/1.5 "Raleway"; color: rgb(255, 255, 255); text-align: justify;}
li { font: 400 1.5rem/1.5 "Raleway"; color: rgb(255, 255, 255); }

a {
    text-decoration: none;
    color: orange; 
}
.book_year_divider {
    margin: 0;
    padding-top: 100px;
    text-align: left;
    font-size: 7rem;
    color: rgb(255, 136, 0);
    font-family: 'Raleway', cursive;
    /* text-transform: uppercase; */
    /* background-image: linear-gradient(to right,  rgb(204, 0, 255), rgb(0, 225, 255), rgb(238, 255, 0), rgb(255, 0, 0), rgb(113, 255, 113));
    -webkit-background-clip: text;
    animation: animate 30s ease-in-out infinite;
    background-size: 10%; */
}

.indexH3 {
    text-align: center;
    padding: 5% 0;
    font-family: "Monoton";
}

.indexCard {
    border: solid rgb(255, 199, 46) 5px ;
    box-shadow:
    0 0 0 5px rgb(255, 89, 89),
    0 0 0 10px rgb(155, 48, 255)
    ;
    border-radius: 10px;
    ul {
        margin: 20px;
        list-style-type: none;
        padding-inline-start: 0;
        li {
            p {
                color: white;
                font-weight: bold;
            }
            p:hover {
                color: orange;
            }
        } 
    } 
}

#homeBackground {
    background: fixed url('15.gif');
    // background-repeat: no-repeat;
    width: 100%;
    // height: 100vh;
    background-size: cover;
}

@media (max-width: 1200px) {
    #homeBackground {
        background: fixed url('15.gif') no-repeat 50% ;
        width: 100%;
        // height: 100vh;
        background-size: cover;
    }
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}
.content {
    width: 100%;
    /* margin: 0em auto; */
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    border-radius: 5px;
    border: 5px solid white;
    text-align: justify;
    margin: 1rem 0rem;
    p {
        font-size: 1.3rem;
        font-style: italic;
        padding: 1rem;
        color: rgb(255, 216, 143);
    }
}